Miniconda5-latest-Linux-x86_64.sh
data/cifar-10-python.tar.gz
data/cifarlt/data/cifar-100-python/
*.pth
*.tar.gz
*.sh
data/cifar-100-python/train

# CICIDS-2017 데이터셋 (큰 파일들)
MachineLearningCVE/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv
MachineLearningCVE/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv
MachineLearningCVE/Friday-WorkingHours-Morning-DDos.pcap_ISCX.csv
MachineLearningCVE/Monday-WorkingHours.pcap_ISCX.csv
MachineLearningCVE/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv
MachineLearningCVE/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv
MachineLearningCVE/Tuesday-WorkingHours.pcap_ISCX.csv
MachineLearningCVE/Wednesday-workingHours.pcap_ISCX.csv



